@charset "utf-8";

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.topBanner {
  padding: 30px 0;
  background: #f1f1f1;
}
.topBanner .inner {
  position: relative;
}
.topBanner h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.topBanner p {
  font-size: 15px;
  font-weight: 300;
}
.topBanner a {
  display: inline-block;
  padding: 3px 15px 5px 15px;
  background: #333;
  color: #fff;
  margin-left: 10px;
}
.topBanner i {
  position: absolute;
  inset: 0 0 auto auto;
  font-size: 21px;
  padding: 5px;
  background: #ddd;
  border-radius: 3px;
}
#header {
  line-height: 100px;
}
#header .container {
  justify-content: space-between;
}
/* #header nav {
  margin-left: auto;
} */
#header nav > ul {
  display: flex;
}
#header nav > ul li > a {
  padding: 0 15px;
  font-size: 16px;
}
#header nav > ul > li ~ li::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 14px;
  background: #ddd;
}
#header a {
  display: inline-block;
}
#searchForm input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #333;
  padding: 5px;
}
#searchForm input[type="text"]::placeholder {
  color: #f00;
}
#searchForm input[type="text"]:focus::placeholder {
  opacity: 0;
}
#searchForm button {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 21px;
  cursor: pointer;
}
.mainVisual {
  position: relative;
}
.mainVisual .mainSlider figure {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 600px;
}
.mainSlider .item01 {
  background: url(../img/mainvisual01.jpg);
}
.mainSlider .item02 {
  background: url(../img/mainvisual02.jpg);
}
.mainSlider .item03 {
  background: url(../img/mainvisual03.jpg);
}
.mainVisual .mainSlider figure .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 0 3px #000;
}
.mainVisual .mainSlider figure .inner h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.mainVisual .mainSlider figure .inner p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}
.mainVisual .mainSlider figure .inner a {
  display: inline-block;
  padding: 5px 20px 10px;
  background: #333;
}
.mainVisual .mainSlider figure .inner > * {
  transform: translateY(100px);
  opacity: 0;
}
.mainVisual .mainSlider figure.on .inner > * {
  transform: translateY(0);
  opacity: 1;
}
.mainVisual .mainSlider figure.on .inner h2 {
  transition: 0.5s;
}
.mainVisual .mainSlider figure.on .inner p {
  transition: 0.5s 0.5s;
}
.mainVisual .mainSlider figure.on .inner a {
  transition: 0.5s 1s;
}
.mainSlider .slick-dots {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  /*inset:auto auto 100px 50%*/
}
.mainSlider .slick-dots li {
  display: inline-block;
}
.mainSlider .slick-dots li button {
  border-radius: 50%;
  border: 0;
  width: 22px;
  line-height: 22px;
  margin: 0 2px;
  outline: 0;
  cursor: pointer;
}
.mainSlider .slick-dots li.slick-active button {
  background: #333;
  color: #fff;
}
.slideNum {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
}
.slideNum span {
  color: #fff;
  font-size: 41px;
}
.mainArrow {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainArrow i {
  font-size: 50px;
  color: #fff;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}
.mainArrow i:first-child {
  left: 0;
  margin-left: -70px;
}
.mainArrow i:last-child {
  right: 0;
  margin-right: -70px;
}
